.container-call-blog{
    height: 100vh;
}

.container-blog{
    height: calc(100vh - 40%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.content-blog{
    height: 84%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.container-text-blog{
    height: 34%;
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-text-blog .title-blog{
    height: 50%;
    color: var(--cor-grafit-800);
    font-family: var(--font-montserra);
    font-weight: 700;
    font-size: 3rem;
}

.container-text-blog .description-blog{
    height: 50%;
    color: var(--cor-grafit-100);
    font-family: var(--font-montserra);
    font-weight: 500;
}

.container-card-blog{
    display: flex;
    flex-direction: row;
    width: auto;
}

.container-blog a {
    text-decoration: none;
}

.container-item-card-link {
    color: var(--cor-grafit-800);
}

.container-item-card-link:hover .container-item-card {
    box-shadow: 1px 1px 20px #cfc6c6;
    text-decoration: none;
}

.container-item-card{
    width: 17rem;
    margin: 0 1rem 0 1rem;
    overflow: hidden;
    border: solid 1px var(--cor-grafit-50);
    transition: box-shadow 0.3s ease; /* Adiciona transição para suavizar a mudança */
    border-radius: 6px;
}


.container-item-card .item-card-imagen img{
    width: 100%;
}

.container-item-card .item-card-description{
    font-family: var(--font-montserra);
    font-size: 0.99rem;
    margin: 24px;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-item-card .item-card-description .coment-data {
    font-size: .8rem;
    color: var(--cor-grafit-100);
}



