.container-call-blog{
    height: 100vh;
}

.container-call-action{
    width: 100%;
    height: 40%;
    background: var(--cor-grafit-800);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-call-action{
    width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    font-family: var(--font-montserra);
}

.content-call-action .title-call-action{
    font-size: 2rem;
    font-weight: 500;
}

.content-call-action .description-call-action{
    font-size: 1rem;
    font-weight: 400;
    padding: 1.5rem 0 2rem 0;
}

.container-btn-call-action{
    width: 50%;
}

.container-call-action .btn-call-action{
    display: block;
    text-decoration: none;
    font-weight: 500;
    padding: 1.2rem .8rem;
    border-radius: 6px;
    border: solid 1px var(--cor-pry-800);
    color: var(--cor-pry-800);
}

.container-call-action .btn-call-action:hover{
    background: var(--cor-pry-800);
    color: #ffffff;
}

.container-blog{
    height: calc(100vh - 40%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.content-blog{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.container-text-blog{
    width: 30%;
    text-align: center;
}

.container-text-blog .title-blog{
    font-family: var(--font-montserra);
    font-size: 2rem;
    font-weight: 700;
    color: var(--cor-grafit-800);
    padding-bottom: 2rem;
}

.container-text-blog .description-blog{
    font-family: var(--font-montserra);
    font-weight: 500;
    color: var(--cor-grafit-100);
}


.container-card-blog{
    display: flex;
    flex-direction: row;
    width: auto;
}