.container-mode{
    position: absolute;
    top: 0;
    z-index: 100;
    padding-top: .5rem;
}
.container-mode #btnMode{
    margin-right: 1.5rem;
    position: fixed;
    right: 0;
    border: none;
    padding: 1rem;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s cubic-bezier(0, 0, 0.79, 0.2);
}
.container-mode #btnMode.noite{
    font-weight: bolder;
    color: var(--cor-grafit-1000);
    background: var(--cor-grafit-100);
}

.container-mode #btnMode.dia{
    font-weight: bolder;
    color: var(--cor-ter-1000);
    background: var(--cor-ter-500);
    border: solid 1px var(--cor-ter-500) ;
    box-shadow: 0 0 1rem var(--cor-grafit-70);
}
    

/* Estilo para tema claro */
body .container-menu {
    background: var(--white-mode-1000);
}

/* Estilos para tema escuro */
body.dark-mode.container-menu{
    background: var(--darkMode-grafit-1000);
}